
ion-card{
  --ion-background-colour:transparent;
  box-shadow: none !important;
  text-align: center
}

ion-card{
  --ion-background-colour:transparent;
  box-shadow: none !important;
  text-align: center
}

ion-content{
  --background: url('/assets/background2.jpg') 0 0/100% 100% no-repeat;
  background-size: 100%;
}
