h5{
    font-style: italic;
    font: bold;
}

p{
    text-align: justify;
}

.term-cond{
    text-align: inherit;
}

ion-content{
    --background: url('/assets/background4.png') 0 0/100% 100% no-repeat;
    background-size: 100%;
  }