<ion-header> 
  <ion-toolbar color="danger">
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> 
       <ion-title class="ion-text-center">Booking</ion-title> 
  </ion-toolbar> 
</ion-header>

<!--Booking Form-->
<ion-content> 
  <div class="ion-padding"> 

    <ion-text> 
      <h4>Booking Form</h4> 
    </ion-text>

      <ion-item> 
        <ion-label position="floating">Full Name</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.name" required></ion-input> 
      </ion-item> 

      <ion-item> 
        <ion-label position="floating">Contact No</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.contact" required></ion-input> 
      </ion-item> 

      <ion-item> 
      <ion-label>Select Venue</ion-label> 
        <ion-select value="General" okText="Okay" [(ngModel)]="booking.venue" cancelText="Cancel"> 
          <ion-select-option value="Futsal Court">Futsal Court</ion-select-option>
          <ion-select-option value="Music Studio">Music Studio</ion-select-option> 
          <ion-select-option value="Student Square">Student Square</ion-select-option>  
        </ion-select>
      </ion-item>
      
      <ion-item> 
        <ion-label>Start Date</ion-label> 
        <ion-datetime placeholder="Select Date" [(ngModel)]="booking.datemula"></ion-datetime>
      </ion-item> 

      <ion-item> 
        <ion-label>End Date</ion-label> 
        <ion-datetime placeholder="Select Date" [(ngModel)]="booking.datetamat"></ion-datetime>
      </ion-item> 

      <ion-item> 
        <ion-label position="floating">Start Time</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.timemula" required></ion-input> 
      </ion-item> 

      <ion-item> 
        <ion-label position="floating">End Time</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.timetamat" required></ion-input> 
      </ion-item> 

      <ion-item> 
        <ion-label position="floating">Used For (reason)</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.reason" required></ion-input> 
      </ion-item> 

      <ion-item> 
        <ion-label position="floating">Equipment Needed (if any)</ion-label> 
        <ion-input type="text" [(ngModel)]="booking.need"></ion-input> 
      </ion-item>

    <ion-card><ion-card-content>
      <ion-text> 
        <h4>Booking Rules</h4><br>
        <p>1) All cancellations of the booking must be notified one (01) day before the date of use</p> 
        <p>2) Completed booking must be sent submit three (03) days before the date of use is required</p> 
      </ion-text>
    </ion-card-content></ion-card>

      <!--Booking Button to proceed-->
    <ion-button expand="block" color="danger" (click)="createPost(booking)">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon> Book Now </ion-button> 
  </div>
</ion-content>