<ion-header> 
  <ion-toolbar color="danger"> 
    <ion-buttons slot="start"><ion-back-button></ion-back-button> </ion-buttons> 
    <ion-title class="ion-text-center">Enquiry</ion-title>
   </ion-toolbar> 
</ion-header>

  <ion-content> 
    <div class="ion-padding"> 
      <ion-text class="ion-text-center"> 
        <h1>Enquiry Message</h1>
        <p>Please fill up enquiry and we will be in touch with you soon</p>
      </ion-text> 

      <ion-item> 
        <ion-label position="floating">Name</ion-label> 
        <ion-input type="text" [(ngModel)]="contact.name" required></ion-input> 
      </ion-item> 
      
      
      <ion-item> 
        <ion-label position="floating">Email</ion-label> 
        <ion-input type="email" placeholder="your@gmail.com" [(ngModel)]="contact.email" required></ion-input> 
      </ion-item>

      <ion-item> 
        <ion-label>Enquiry Type</ion-label> 
          <ion-select value="General" okText="Okay" [(ngModel)]="contact.enquiry" cancelText="Dismiss"> 
            <ion-select-option value="Complaint">Feedback</ion-select-option>
            <ion-select-option value="Complaint">Complaint</ion-select-option>
            <ion-select-option value="Others">Others</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-input type="text" [(ngModel)]="contact.message" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="danger" (click)="createPost(contact)">
        <ion-icon slot="end" name="send"></ion-icon> Send 
      </ion-button> 

    </div> 
  </ion-content>