<ion-header> 
  <ion-toolbar color="danger">
     <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> 
       <ion-title class="ion-text-center">Music Studio</ion-title> 
  </ion-toolbar> 
</ion-header>

<ion-content>
  <ion-slides [option]="option" class="ion-margin-top">
    
    <ion-slide >
      <ion-card>
         <img src="assets/musicsquare.jpg"/>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/mscsquare.jpg"/>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h3>Operation Hour</h3>
  <p> Monday - Friday (10am to 5pm) </p><br>
  
  <h3>Location</h3>
  <p> Level 2 </p>

</ion-content>