  <ion-header> 
    <ion-toolbar color="danger"> 
      <ion-title class="ion-text-center">About Us</ion-title>
        <ion-buttons slot="start">
         <ion-back-button></ion-back-button> 
        </ion-buttons>
    </ion-toolbar> 
  </ion-header>

  <ion-content>
    <ion-card>
      <img src="./assets/back.jpeg" />
      <ion-card-header>
        <ion-card-title>Kolej Universiti Poly-Tech MARA Kuala Lumpur</ion-card-title><br>
      </ion-card-header>

      <ion-card-content>
        <ion-icon slot="start" name="location"></ion-icon>
         Jalan 6/91, Taman Shamelin Perkasa, 56100 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur
      </ion-card-content>
      
      <ion-card-content>
        <ion-icon slot="start" name="globe-outline"></ion-icon>
         www.kuptm.edu.my
      </ion-card-content>
      
      <ion-card-content>
        <ion-icon slot="start" name="call-outline"></ion-icon>
         03-9206 9700
      </ion-card-content>

    </ion-card>
  </ion-content>